[project]
	description = A plugin that integrates foreman (theforeman.org) with jenkins ci 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Eyal Edri (eedri)
[access "refs/for/refs/*"]
	read = group user/Eyal Edri (eedri)
	push = group user/Eyal Edri (eedri)
	label-Code-Review = -2..+2 group user/Eyal Edri (eedri)
	label-Verified = -1..+1 group user/Eyal Edri (eedri)
	rebase = group user/Eyal Edri (eedri)
	removeReviewer = group user/Eyal Edri (eedri)
	submit = group user/Eyal Edri (eedri)
[access "refs/heads/*"]
	read = group user/Eyal Edri (eedri)
	create = group user/Eyal Edri (eedri)
	push = +force group user/Eyal Edri (eedri)
	pushMerge = group user/Eyal Edri (eedri)
[access "refs/tags/*"]
	push = +force group user/Eyal Edri (eedri)
	pushTag = group user/Eyal Edri (eedri)
	pushSignedTag = group user/Eyal Edri (eedri)
